.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: rgb(171, 171, 171);

}

.Navbar .Links {
    padding: 0 1.5rem;
}
